<h1>Hivemind</h1>
Hivemind helps you find creative projects to collaborate on.
<hr />

<% @projects.each do |project| %>
<div>
  <%= link_to project.name, project %> - <%= project.engine %>
</div>
<% end %>

