<% content_for :breadcrumb do %>
	<span class="breadcrumbitem"><a href="/">Hivemind</a></span>
	<span class="breadcrumbgt">&gt;</span>
	<span class="breadcrumbitem"><a href="/projects">Projects</a></span>
<% end %>

<% content_for :leftbar do %>
<div id="leftbar">
	<ul>
		<li>New Contributions</li>
		<li>Open Tasks</li>
		<li class="selected"><a href="/projects">Projects</a></li>
	</ul>
</div>
<% end %>

<div class="projectlist">
<% @projects.each do |project| %>
<div class="project">
	<a href="<%= project_path(project) %>"><img class="thumbnail" src="/assets/project-default-icon.png" /></a>
	<div class="projectname"><%= link_to project.name, project %></div>
	<strong>Engine:</strong> <%= project.engine %><br />
</div>
<% end %>

<br clear="both" />

<%= link_to 'New Project', new_project_path %>
