<% content_for :breadcrumb do %>
	<span class="breadcrumbitem"><a href="/">Hivemind</a></span>
	<span class="breadcrumbgt">&gt;</span>
	<span class="breadcrumbitem">Create Project</span>
<% end %>

<p style="width: 500px; margin: auto;">Yo ho! You are the adventurous, the enterprising, the few and the proud who dare to create!</p>

<%= render 'form' %>
